<!-- Facebook Pixel Code (Include this in the head section) -->
{% for pixel_id in range(1, 7) %}
    {% set pixel_var = 'FACEBOOK_PIXEL_' ~ pixel_id %}
    {% if config.get(pixel_var) %}
        <!-- Facebook Pixel Code for Pixel {{ pixel_id }} -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ config.get(pixel_var) }}');
            fbq('track', 'PageView', {
                'url': window.location.href,
                'referrer': document.referrer
            });
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                src="https://www.facebook.com/tr?id={{ config.get(pixel_var) }}&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code for Pixel {{ pixel_id }} -->
    {% endif %}
{% endfor %}

<!-- UTMify Scripts -->
<script
  src="https://cdn.utmify.com.br/scripts/utms/latest.js"
  data-utmify-prevent-xcod-sck
  data-utmify-prevent-subids
  async
  defer
></script>

<script>
  window.pixelId = "68451dd14e4eeb1393406502";
  var a = document.createElement("script");
  a.setAttribute("async", "");
  a.setAttribute("defer", "");
  a.setAttribute("src", "https://cdn.utmify.com.br/scripts/pixel/pixel.js");
  document.head.appendChild(a);
</script>